/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "modules/_all";

body{
  background: url(../images/pixel_weave_@2X.png) repeat;
  background-color: $base1;
  font-family: 'Cardo', serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

a {
	color:$base1;
}

a:hover{
	color:$base0;
}

hr {
  border-color: $base1;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
  color:$fontColor0 !important;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 50px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
  margin-right: 0px;

}

.btn-default{
	background-color:$base1;
	color:$fontColor0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size:1.2em;
}

.label{
	font-size:1.1em;
}

@media screen and (min-width: 768px) {

	.header{
		background-color: rgba($base0, 0.3);
		background: url(../images/header-bg.jpg) no-repeat center fixed; 
	}

	.animated-header{
		position: relative;
		-moz-animation-name: dropHeader;
		-moz-animation-timing-function: ease-in;
		-moz-animation-duration: 1s;

		-webkit-animation-name: dropHeader;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 1s;

		-ms-animation-name: dropHeader;
		-ms-animation-timing-function: ease-in;
		-ms-animation-duration: 1s;

		-o-animation-name: dropHeader;
		-o-animation-timing-function: ease-in;
		-o-animation-duration: 1s;

		animation-name: dropHeader;
		animation-timing-function: ease-in;
		animation-duration: 1s;
	}

	.brand {
	  display: inherit;
	  font-weight: 700;
	  font-size: 5em;
	  line-height: normal;
	  text-align: center;
	  margin: 0;
	  padding: 30px 0 10px;
	  color: #fff;
	  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}

	.top-divider {
	  margin-top: 0;
	}

	.img-left {
	  float: left;
	  margin-right: 25px;
	}

	.address-bar {
	  display: inherit;
	  text-align: center;
	  margin: 0;
	  padding: 0 0 40px;
	  font-size: 1.25em;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  line-height: 2em;
	  font-weight: 400;
	  color: #fff;
	  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}

	.navbar {
	  border-radius: 0;
	  margin-bottom: 30px;
	}

	.navbar-header {
	  display: none;
	}

	.navbar {
	  min-height: 0;
	}

	.navbar-default {
	  background: $base2;
	  border: none;
	  a {
	  	color:$fontColor0 !important;
	  	transition:1s all;
	  	-o-transition: 1s all;
	  	-ms-transition: 1s all;
	  	-moz-transition: 1s all;
	  	-webkit-transition: 1s all;
	  }

	  a:hover{
	  	color:$fontColor1 !important;
	  	background: $base3;
	  }
	}

	.nav{
		li{
			a {
	  			padding: 35px;
	  			padding-bottom:10px;
       			padding-top:10px;
	  		}
	  }
	}


	.navbar-nav{
		li{
			a {
	  			line-height: normal;
	  		}
	  	}
	}

	.navbar-nav {
	  float: none;
	  margin: 0 auto;
	  display: table;
	  table-layout: fixed;
	  font-size: 1.0em;
	  font-weight:bold;
	  li{
	  	margin-left: 1px solid $base0 !important;
	  }
	}

	.btn-transparent{
		background-color:rgba(0,0,0,0) !important;
		border: 1px solid $base1;
		color: $fontColor0;
		font-size:1.2em;
	}

	.social{
		text-transform: none;
	}

}

//Animations
@-moz-keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}