<footer>
  <div class="row" style="margin:0px;">
    <div class="col-lg-12">
      <p style="float:right;">Developed by: <a href="http://aeho.com.br/">Aeho</a> 2013</p>
    </div>
  </div>
</footer>

<!-- JavaScript -->
<script src="/dist/scripts/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/dist/scripts/main.min.js"></script>
<script type="text/javascript">
  var label_dict = {orcamento:"DpiFCPj-0SMQyJC7wwM", telefone:"RjJJCIjm0iMQyJC7wwM", email:"nD81CJDk1CMQyJC7wwM"};
	  /* <![CDATA[ */
	  goog_snippet_vars = function(label) {
	    var w = window;
	    var key_label = label_dict[label];
	    w.google_conversion_id = 946784328;
	    w.google_conversion_label = key_label;
	    w.google_conversion_value = 0;
	    w.google_remarketing_only = false;
	  }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(label) {
        goog_snippet_vars(label);
        window.google_conversion_format = "3";
        window.google_is_call = true;
        var opt = new Object();
        opt.onload_callback = function() {
          if (typeof(url) != 'undefined') {
            window.location = url;
          }
        }
        var conv_handler = window['google_trackConversion'];
        if (typeof(conv_handler) == 'function') {
          conv_handler(opt);
        }
      }
      /* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
<NOSCRIPT>
<em>Email address protected by JavaScript.<BR>
  Please enable JavaScript to contact me.</em>
</NOSCRIPT>
</body>
</html>
