<header>
  <div itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="header">
      <div class="animated-header">
        <div class="brand" itemprop="brand">Farmácia Humanitas</div>
        <div class="address-bar">
          <a href="contact.html#maps" id="adressLink">
            <i class="fa fa-map-marker"></i>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              Metrô Trianon/MASP | <span itemprop="streetAddress">Rua Itapeva, 30, Bela Vista</span> |
              <span itemprop="addressLocality">São Paulo</span> - <span itemprop="addressRegion">SP</span>
            </span>
          </a>
          <br>
          <strong>
            <div itemprop="telephone">
              <span class="glyphicon glyphicon-earphone"></span>
              (11) 3288 - 6777
            </div>
          </strong>
          <strong>
            <div class="social">
              <a href="https://www.facebook.com/Humanitas.Farmacia.Homeopatica" onClick="ga('send','event','facebookIcon','clicked');" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
              <a href="https://plus.google.com/101697198091485040709" onClick="ga('send','event','g+Icon','clicked');" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i></a>
            </div>
          </strong>
        </div>
      </div>
    </div>
  </div>
</header>
