<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Esconder barra de navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Farmácia Humanitas</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li><a href="index.html" id="index_nav_btn"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#orcamentos" id="orcamentos_nav_btn"><i class="fa fa-envelope"></i> Fazer um Orçamento</a></li>
        <li><a href="contact.html#contato_box" id="contact_nav_btn"><i class="fa fa-envelope-o"></i></i> Contato</a></li>
        <li><a href="/blog/" id="blog"><i class="fa fa-align-justify"></i> Blog</a></li>
        <li><a href="about.html#menu" id="about_nav_btn"><i class="fa fa-info-circle"></i> Sobre</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
