<header>
  <div itemscope itemtype="http://schema.org/LocalBusiness">  
    <div class="header">
      <div class="animated-header">
        <div class="brand" itemprop="brand">Farmácia Humanitas</div>
        <div class="address-bar">
          <a href="contact.html#maps" id="adressLink">
            <i class="fa fa-map-marker"></i>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              Metrô Trianon/MASP | <span itemprop="streetAddress">Rua Itapeva, 30, Bela Vista</span> |
              <span itemprop="addressLocality">São Paulo</span> - <span itemprop="addressRegion">SP</span>
            </span>
          </a>
          <br>
          <span class="glyphicon glyphicon-earphone"></span>
          <strong>
            <span itemprop="telephone">
              (11) 3288 -
              <a href="#" class="show-phone">Clique para ver o telefone</a>
              <span class="hidden-phone">6777</span>
            </span>
            <hr>
            <div class="social">
              <a href="https://www.facebook.com/Humanitas.Farmacia.Homeopatica" onClick="ga('send','event','facebookIcon','clicked');" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
              <a href="https://plus.google.com/101697198091485040709" onClick="ga('send','event','g+Icon','clicked');" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i></a>
            </div>
          </strong>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Esconder barra de navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Farmácia Humanitas</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li><a href="index.html" id="index_nav_btn"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#orcamentos" id="orcamentos_nav_btn"><i class="fa fa-envelope"></i> Fazer um Orçamento</a></li>
          <li><a href="contact.html#contato_box" id="contact_nav_btn"><i class="fa fa-envelope-o"></i></i> Contato</a></li>
          <li><a href="/blog/" id="blog"><i class="fa fa-align-justify"></i> Blog</a></li>
          <li><a href="about.html#menu" id="about_nav_btn"><i class="fa fa-info-circle"></i> Sobre</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
<header>