/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background: url(../images/pixel_weave_@2X.png) repeat;
  background-color: #f3bbff;
  font-family: 'Cardo', serif; }

/* line 14, ../sass/screen.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400; }

/* line 27, ../sass/screen.scss */
p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000; }

/* line 33, ../sass/screen.scss */
a {
  color: #f3bbff; }

/* line 37, ../sass/screen.scss */
a:hover {
  color: #d300ff; }

/* line 41, ../sass/screen.scss */
hr {
  border-color: #f3bbff;
  max-width: 400px; }

/* line 47, ../sass/screen.scss */
.brand,
.address-bar {
  display: none;
  color: #ededed !important; }

/* line 52, ../sass/screen.scss */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

/* line 62, ../sass/screen.scss */
.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900; }

/* line 68, ../sass/screen.scss */
.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400; }

/* line 74, ../sass/screen.scss */
.img-full {
  min-width: 100%; }

/* line 78, ../sass/screen.scss */
.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal; }

/* line 85, ../sass/screen.scss */
.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px; }

/* line 91, ../sass/screen.scss */
.box {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  padding: 50px 15px; }

/* line 98, ../sass/screen.scss */
.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400; }

/* line 105, ../sass/screen.scss */
.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px; }

/* line 111, ../sass/screen.scss */
.img-left {
  float: none;
  margin: 0 auto 0; }

/* line 116, ../sass/screen.scss */
footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

/* line 121, ../sass/screen.scss */
footer p {
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
  margin-right: 0px; }

/* line 129, ../sass/screen.scss */
.btn-default {
  background-color: #f3bbff;
  color: #ededed;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2em; }

/* line 136, ../sass/screen.scss */
.label {
  font-size: 1.1em; }

@media screen and (min-width: 768px) {
  /* line 142, ../sass/screen.scss */
  .header {
    background-color: rgba(211, 0, 255, 0.3);
    background: url(../images/header-bg.jpg) no-repeat center fixed; }

  /* line 147, ../sass/screen.scss */
  .animated-header {
    position: relative;
    -moz-animation-name: dropHeader;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
    -ms-animation-name: dropHeader;
    -ms-animation-timing-function: ease-in;
    -ms-animation-duration: 1s;
    -o-animation-name: dropHeader;
    -o-animation-timing-function: ease-in;
    -o-animation-duration: 1s;
    animation-name: dropHeader;
    animation-timing-function: ease-in;
    animation-duration: 1s; }

  /* line 170, ../sass/screen.scss */
  .brand {
    display: inherit;
    font-weight: 700;
    font-size: 5em;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

  /* line 182, ../sass/screen.scss */
  .top-divider {
    margin-top: 0; }

  /* line 186, ../sass/screen.scss */
  .img-left {
    float: left;
    margin-right: 25px; }

  /* line 191, ../sass/screen.scss */
  .address-bar {
    display: inherit;
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 2em;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

  /* line 205, ../sass/screen.scss */
  .navbar {
    border-radius: 0;
    margin-bottom: 30px; }

  /* line 210, ../sass/screen.scss */
  .navbar-header {
    display: none; }

  /* line 214, ../sass/screen.scss */
  .navbar {
    min-height: 0; }

  /* line 218, ../sass/screen.scss */
  .navbar-default {
    background: #69007f;
    border: none; }
    /* line 221, ../sass/screen.scss */
    .navbar-default a {
      color: #ededed !important;
      transition: 1s all;
      -o-transition: 1s all;
      -ms-transition: 1s all;
      -moz-transition: 1s all;
      -webkit-transition: 1s all; }
    /* line 230, ../sass/screen.scss */
    .navbar-default a:hover {
      color: #f3bbff !important;
      background: #70267f; }

  /* line 238, ../sass/screen.scss */
  .nav li a {
    padding: 35px;
    padding-bottom: 10px;
    padding-top: 10px; }

  /* line 249, ../sass/screen.scss */
  .navbar-nav li a {
    line-height: normal; }

  /* line 255, ../sass/screen.scss */
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    font-size: 1.0em;
    font-weight: bold; }
    /* line 262, ../sass/screen.scss */
    .navbar-nav li {
      margin-left: 1px solid #d300ff !important; }

  /* line 267, ../sass/screen.scss */
  .btn-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #f3bbff;
    color: #ededed;
    font-size: 1.2em; }

  /* line 274, ../sass/screen.scss */
  .social {
    text-transform: none; } }
@-moz-keyframes dropHeader {
  /* line 282, ../sass/screen.scss */
  0% {
    opacity: 0; }

  /* line 285, ../sass/screen.scss */
  100% {
    opacity: 1; } }

@-webkit-keyframes dropHeader {
  /* line 290, ../sass/screen.scss */
  0% {
    opacity: 0; }

  /* line 293, ../sass/screen.scss */
  100% {
    opacity: 1; } }

@-ms-keyframes dropHeader {
  /* line 298, ../sass/screen.scss */
  0% {
    opacity: 0; }

  /* line 301, ../sass/screen.scss */
  100% {
    opacity: 1; } }

@keyframes dropHeader {
  /* line 306, ../sass/screen.scss */
  0% {
    opacity: 0; }

  /* line 309, ../sass/screen.scss */
  100% {
    opacity: 1; } }
